/* shared class style  */

*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}


.btn:hover{
  
  opacity: 0.8;
  transition: 0.3s;
  cursor: pointer;

}

/* navigation bar style  */

.nav-container{
  padding: 16px 120px 16px 120px;
  background-color: #FFFFFF;
}

.nav-container .nav-contant{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-container .nav-contant ul{
  display: flex;
  align-items: center;
  gap: 32px;
  color: #000000;
  list-style-type: none;
}

.nav-container .nav-contant ul li a{
  text-decoration: none;
  list-style: none;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  color: #000000;
}

.nav-btn{
  width: 164px;
  height:44px;
  background-color: #469165;
  color: #ffffff;
  padding: 12px 16px 12px 16px;
  border-radius: 4px;
  font-weight: semibold;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
   border: none;      
}


.banner-container{
  padding: 70px 120px 134px 120px;
  width: 100%;
  height: 674px;
  background-color: #FFFFFF;
  background-image: url(./assets/hero-bg.png);
  background-size: cover;
  background-position: center;
  
}


.banner-container .banner-contant{
  display: flex;
  flex-direction: column;
  align-items: center ;
}

.sub-one{
  padding: 8px 12px 8px 12px;
 
  /* border: 1px solid red; */
  margin-left: 290px;
  font-size: 16px;
 width: 229px;
 height: 35px;
 background-color: #FFFFFF;
 gap: 7px;
  border-radius: 40px;
  margin-bottom: 16px;
}






.banner-text h1{
 color: #FFFFFF;
 font-weight: bold;
 font-size:80px;
 margin-bottom: 16px;
}

.banner-text h1 span{
  color: #469165;
}


.sub-tow{
 color: #FFFFFF;
 font-size: 18px;
 font-weight: regular;
 text-align: center;
 line-height: 24px;
 margin-bottom: 32px;

}



.bnr-btn-green{
  font-size: 16px;
  font-weight: semi-bold;
  width: 251px;
  height:52px;
  display: flex;
  align-items: center;
  background-color: #469165;
  color: #ffffff;
  padding: 12px 16px 12px 16px;
  border-radius: 6px;
  gap: 10px;
  text-align: center;
  cursor: pointer;
  border: none;
}

.bnr-btn-clear{
  font-size: 16px;
  font-weight: semi-bold;
  width: 198px;
  height:52px;
  display: flex;
  align-items: center;
  background-color: transparent;
  color: #FFFFFF;
  padding: 12px 16px 12px 16px;
  border: 2px solid #FFFFFF;
  border-radius: 6px;
  gap: 10px;
  align-items: center;
  text-align: center;
  cursor: pointer;
}

.banner-btn{
  display: flex;
  gap: 16px;
}

    /* card section style  */ 

.card-heading h3{
  font-size: 52px;
  font-weight: bold;
  text-align: center;
  margin-top: 64px;
}
.card-heading p{
  font-size: 16px;
  font-weight: regular;
  text-align: center;
  margin-top: 16px;
  
}

.card-box{
margin: 120px;
padding: 24px;
display: flex;
justify-content: center;
gap: 60px ;
margin-bottom: 120px;

}

.card-box .card-contant{
  width: 325px;
  height: 300px;
  margin-top: 44px;
  padding: 24px 24px;
  align-items: center;
  text-align: center;
  border-radius: 8px;
  background-color: #FFFFFF;
  box-shadow: 0px 4px 16px rgba(15, 7, 7, 0.103);
}


.card-box .card-contant img{
  margin-top: 30px;
  margin-bottom: 16px;
  background-color: #F95555;
  width: 35px;
  height: 35px;
  border-radius: 50%;
}


.card-box .card-contant h5{
  font-size: 25px;
  font-weight: semi-bold;
  margin-bottom: 12px;
  margin-bottom: 16px;
}

.card-box .card-contant p{
  color: #627382;
  font-size: 14px;
  font-weight: regular;

}


/* brain section style  */


.brain-container{
  margin: 120px;
  padding: 12px;
 display: flex;
 align-items: center;
 justify-content: center;
/* flex-direction: row; */
/* justify-content: flex-start; */
gap: 60px;
 /* border:1px solid red; */

  }

  .brain-contant{
    display: flex;
    align-items: center;
    justify-content: center;
    /* border:1px solid red; */
    gap: 45px;
  }


  .brain-text{
    text-align: left;
  }

  .brain-ckeckbox{
    display: flex;
   gap: 5px;
  }

.brain-text .p-one {
 color: #30B868;
 font-size: 16px;
 text-transform: uppercase;
 font-waight: medium ;
 margin-bottom: 18px;
}


.brain-text h3{
  color: #001931;
  font-size: 55px;
  font-weight: bold;
  margin-bottom: 18px;
}

.brain-text .p-two {
  color: #627382;
  font-size: 18px;
  font-weight: regular;
  line-height: 28px;
  margin-bottom: 18px;
}

.brain-text p{
  font-size: 16px;
  font-weight: medium;
  margin-bottom: 12px;
}

/* Challange part  */

.clg-container{
  height: 506px;
  width: 100%;
  background-color: #FFFFFF;
  
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.clg-container .clg-contant{
  text-align: center;
 height: 384px;
  width: 1360px;
  background-color: #F7F6F2;
  margin: 120px ;
  padding: 64px 120px 64px 120px;
  border-radius: 6px;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  
}





.clg-container .clg-contant h4{
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 16px;
 
}

.clg-container .clg-contant clg-p-color{
  font-size: 16px;
  font-weight: regular;
  line-height: 20px;
  color: #627382;
  margin-top: 16px;
}


.clg-container .clg-contant .clg-btn{
  /* border: 1px solid red; */
  width: 194px;
  height: 52px;
  margin-bottom: 10px;
  padding: 12px 16px 12px 16px;
  background-color: #469165;
  color: #FFFFFF;
  border-radius: 6px;
  font-size: 16px;
  font-weight: semi-bold;
  border: none;
  margin-top: 16px;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.445)  ;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
  
}





/* footer section style  */

.f-container{
  padding: 120px 120px 30px 120px;
  background-color: #001931;
}

.f-container .f-contant{
  color: #FFFFFF;

  
}
.f-container .f-contant .logo-icon{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 80px;
  
}
.s-link{
  text-align: center;
}

.s-link p{
  margin-bottom: 8px;
}



.copy-write{
  text-align: center;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: regular;
  margin-top: 30px;
  margin-bottom: 30px;
}

.footer-social-icons{
  display: flex;
  gap: 13px;
}

